<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enron</title>
  <meta name="title" content="Enron is the only Discord bot you'll ever need. It has powerfull latest features which can manage discord server.">
  <meta name="description" content="Github: GSampath1">
  <link rel="shortcut icon" href="https://cdn.discordapp.com/avatars/1018173418769764412/456655e1814cea58bb2187b26d7001a2.webp" type="image/svg+xml">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
  <header class="header" data-header>
    <div class="container">

      <a href="/" class="logo">
        <h1 style="color:#FFFFFF;">Enron</h1>

      </a>

      <nav class="navbar" data-navbar>

        <div class="navbar-top">

          <a href="/" class="logo">
            <h2>Enron</h2>

          </a>

          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>

        </div>

        <ul class="navbar-list">

          <li>
            <a href="/" class="navbar-link">Home</a>
          </li>

          <li>
            <a href="#service" class="navbar-link">Services</a>
          </li>

          <li>
            <a href="#stat" class="navbar-link">Stats</a>
          </li>

          <li>
            <a href="#feature" class="navbar-link">Features</a>
          </li>

          <li>
            <a href="/server" class="navbar-link">Server</a>
          </li>

        </ul>

      </nav>

      <div class="btn-group">


        <a href="/invite" class="btn btn-primary">Invite Bot</a>
      </div>

      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>

      <div class="overlay" data-overlay data-nav-toggler></div>

    </div>
  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="hero" aria-label="home">
        <div class="container">

          <div class="hero-banner">
            <figure class="hero-banner">
              <img src="https://cdn.discordapp.com/avatars/1018173418769764412/456655e1814cea58bb2187b26d7001a2.webp?size=1024" alt="logo" width="576" height="576">
            </figure>
          </div>
          <div class="hero-content">
            <h2 class="h2 hero-title">It's time to protect your Discord server.</h2>
            <p class="hero-text">
              Enron offers you the #1 Verification Discord bot for free with many unique features.
            </p>
            <div class="btn-group">
              <a href="/invite" class="btn btn-primary">Invite Bot</a>
              <a href="/server" class="btn btn-secondary">Support Server</a>
            </div>
          </div>
        </div>
      </section>
      <section class="section promo" aria-label="promo">
        <div class="container" id="service">

          <h2 class="h2 section-title text-center">What you should know</h2>
          <br>
          <ul class="grid-list">
            <li>
              <div class="promo-card bg-transparent">

                <center>
                  <div class="card-icon">
                    <img src="../assets/images/shield.svg" alt="shield"  width="100%" height="100%">
                  </div>

                  <h3 class="h3 card-title">Data Security</h3>
                </center>

                <p class="card-text">
                  Your data is secure with us with no third party access. You control the rights of your data with a request for deletion
                </p>
              </div>
            </li>

            <li>
              <div class="promo-card bg-transparent">
                <center>
                  <div class="card-icon">
                    <img src="../assets/images/add-group.svg" alt="add-group" width="100%" height="100%">
                  </div>

                  <h3 class="h3 card-title">Multiple Accounts</h3>
                </center>
                <p class="card-text">
                  Block or allow multiple accounts from the same person in your server.
                </p>

              </div>
            </li>
            <li>
              <div class="promo-card bg-transparent">

                <center>
                  <div class="card-icon">
                    <img src="../assets/images/headset.svg" alt="headset"  width="100%" height="100%">
                  </div>

                  <h3 class="h3 card-title">Slash Command</h3>
                </center>

                <p class="card-text">
                  Join our Discord server and get in touch with the support team.
                </p>
              </div>
            </li>
          </ul>

        </div>
      </section>
      <section class="stats" aria-label="statistics">
        <div class="container" id="stat">

          <div class="stats-content">

            <h2 class="h2 section-title">Our Bot is in all over the Worldwide Coverage</h2>

            <p class="section-text">
              Our developers worked very hard on this bot & we archive many things. Thanks to all the servers and users for using this bot
            </p>

            <p class="section-text">
              This bot was choosed by many servers they like the features of this bot. We have got many positive reviews on our bot
            </p>

            <ul class="stats-list">

              <li>
                <div class="stats-card bg-gray">

                  <h3 class="h3 card-title">150k+</h3>

                  <p class="card-text">
                    Total Users
                  </p>

                </div>
              </li>

              <li>
                <div class="stats-card bg-gray">

                  <h3 class="h3 card-title">45k</h3>

                  <p class="card-text">
                    Total Servers
                  </p>

                </div>
              </li>

              <li>
                <div class="stats-card bg-gray">

                  <h3 class="h3 card-title">16k+</h3>

                  <p class="card-text">
                    Total Votes
                  </p>

                </div>
              </li>

            </ul>

          </div>

          <figure class="stats-banner">
            <img src="../assets/images/stats-banner.png" width="797" height="454" alt="map" class="w-100">
          </figure>

        </div>
      </section>
      <section class="section features" aria-label="features">
        <div class="container" id="features">
          <figure class="features-banner">
            <img src="../assets/images/device.png" width="500" height="500" alt="device">
          </figure>
          <div class="stats-content">

            <h2 class="h2 section-title">Features!</h2>

            <p class="section-text">
              ⭐⭐⭐⭐⭐
            </p>
            <p class="section-text-features">Anti VPN</p>
            <p class="section-text-features">Compare IP's & Cookies</p>
            <p class="section-text-features">Alt account detection</p>
            <p class="section-text-features">100% Free</p>
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="footer-bottom">
          <div class="container">

            <p class="copyright">
              Copyright Sampath 2022. All rights reserved.
            </p>

            <ul class="footer-bottom-list">

              <li>
                <a href="#" class="footer-bottom-link">Support</a>
              </li>

              <li>
                <a href="#" class="footer-bottom-link">Privacy Policy</a>
              </li>

            </ul>

          </div>
        </div>

      </footer>
      <script src="../assets/js/script.js"></script>
</body>
</html>